<div class="wrapper">
  <form class="form-signin">
    <h2 class="form-signin-heading">Connexion</h2>
    <input type="text" class="form-control" name="login" placeholder="login" required="" autofocus=""
      [(ngModel)]="login" />
    <input type="password" class="form-control" name="password" placeholder="Password" required=""
      [(ngModel)]="password" />
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)=checkLogin()>Login</button>
  </form>
</div>