<div class="container" style="margin-top: 70px;">
    <table class="table table-hover">
        <thead>
            <tr>
                
                <th>Référence</th>
                <th>Quantité</th>
                <th>Prix unitaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of produits">

                <td>{{ p.ref }}</td>
                <td> {{ p.quantite }}</td>
                <td> {{ p.prixunitaire }}</td>
                <td>
                    <button class="btn btn-primary" (click)="selectProduit(p)"> Show details</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card text-center" *ngIf="selectedProduit">
        <div class="card-header">
            # {{selectedProduit.ref}}
        </div>
        <div class="card-block">
            <h4 class="card-title">{{selectedProduit.quantite}}</h4>
            <p class="card-text">
                {{selectedProduit.prixunitaire}}
            </p>
        </div>

    </div>
</div>