<div class="col-md-6">
   
    <form [formGroup]="addForm" (ngSubmit)="ajouter()">
      <div class="form-group">
        <label for="ref">Référence:</label>
        <input type="ref" formControlName="ref" placeholder="Référence" name="ref" class="form-control" id="ref">
      </div>
  
      <div class="form-group">
        <label for="qte">Quantité:</label>
        <input formControlName="quantite" placeholder="Quantité" name="qte" class="form-control" id="qte">
      </div>
  
      <div class="form-group">
        <label for="prixunitaire">Prix unitaire:</label>
        <input formControlName="prixunitaire" placeholder="Prix unitaire" name="pu" class="form-control" id="pu">
      </div>
  
      <button class="btn btn-success">Ajouter</button>
    </form>
  </div>